<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Liquid">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Liquid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CreatePasskeyActivity"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="co.algorand.liquid.CREATE_PASSKEY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.UnlockActivity"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="co.algorand.liquid.UNLOCK_APP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GetPasskeyActivity"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="co.algorand.liquid.GET_PASSKEY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".data.PasskeyService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/android_secure"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService" />
            </intent-filter>
            <meta-data
                android:name="android.credentials.provider"
                android:resource="@xml/provider" />
        </service>
        <service
            android:name="foundation.algorand.auth.connect.SignalService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
        </service>
    </application>

</manifest>